@model IEnumerable<SafetsRentACar.Models.User>

    @{
        ViewData["Title"] = "Show all users";
    }


    <form asp-action="ShowAllUsers" method="get" class="search-form">
        <label for="UserId" class="form-label">User Id</label>
        <input type="number" step="1" class="form-control" id="UserId" name="UserId" value="@Context.Request.Query["UserId"]" />

        <label for="FirstName" class="form-label">Ime</label>
        <input type="text" class="form-control" id="FirstName" name="FirstName" value="@Context.Request.Query["FirstName"]" />

        <label for="LastName" class="form-label">Prezime</label>
        <input type="text" class="form-control" id="LastName" name="LastName" value="@Context.Request.Query["LastName"]"/>

        <label for="Username" class="form-label">Korisnicko ime</label>
        <input type="text" class="form-control" id="Username" name="Username" value="@Context.Request.Query["Username"]"/>

        <label for="Email" class="form-label">Email</label>
        <input type="email" class="form-control" id="Email" name="Email" value="@Context.Request.Query["Email"]" />

        <label for="PhoneNumber" class="form-label">Broj telefona</label>
        <input type="text" id="PhoneNumber" name="PhoneNumber" class="form-control" value="@Context.Request.Query["PhoneNumber"]"/>

        <label for="Address" class="form-label">Adresa</label>
        <input type="text" id="Address" name="Address" class="form-control" value="@Context.Request.Query["Address"]"/>

        <button type="submit" class="btn btn-primary">Search</button> 
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>UserId</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Username</th>
                <th>Email</th>
                <th>PhoneNumber</th>
                <th>Address</th>
                <th>Akcije</th>
            </tr>
        </thead>
        <tbody>
            @foreach(User singleUser in Model)
            {
            <tr>
                <td>@singleUser.UserId</td>
                <td>@singleUser.FirstName</td>
                <td>@singleUser.LastName</td>
                <td>@singleUser.Username</td>
                <td>@singleUser.Email</td>
                <td>@singleUser.PhoneNumber</td>
                <td>@singleUser.Address</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@singleUser.UserId" class="btn btn-warning btn-sm">Edit</a>
                    <form asp-action="DeleteConfirmed" asp-route-id="@singleUser.UserId" method="post" style="display:inline">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
             }
        </tbody>
    </table>


