@model List<SafetsRentACar.Models.Car>

@{
    ViewData["Title"] = "View a list of Cars";
}

<h1>Najpopularniji automobili iz 90 -ih </h1>

<form asp-action="Index" method="get" class="search-form">
    <label for="make">Proizvodjac:</label>
    <input type="text" name="make" id="make" value="@Context.Request.Query["make"]" />

    <label for="model">Model:</label>
    <input type="text" name="model" id="model" value="@Context.Request.Query["model"]" />

    <label for="minPrice">Minimalna cena po danu :</label>
    <input type="number" name="minPrice" id="minPrice" step="0.01" value="@Context.Request.Query["minPrice"]" />

    <label for="maxPrice">Maximanlna cena po danu:</label>
    <input type="number" name="maxPrice" id="maxPrice" step="0.01" value="@Context.Request.Query["maxPrice"]" />

    <input type="hidden" name="pageCount" id="pageCount" value="@Context.Request.Query["pageCount"]" />
    <input type="hidden" name="pageSize" id="pageSize" value="@Context.Request.Query["pageSize"]" />


    <button type="submit" class="btn btn-primary">Search </button>

</form>

 <table class="table table-striped">
     <thead>
         <tr>
             <th>Make</th>
             <th>Model</th>
             <th>Year</th>
             <th>Price per day</th>
             <th>Available</th>            
             <th>Seats</th>           
         </tr>
     </thead>
     <tbody>
         @foreach (Car singleCar in Model)
         {
             <tr>
               <td>@singleCar.Make</td>
               <td>@singleCar.Model</td>
               <td>@singleCar.Year</td>
               <td>@singleCar.PricePerDay</td>
               <td>@singleCar.IsAvailable</td>             
               <td>@singleCar.Seats</td>             
             </tr> 
         }
     </tbody>
 </table>

<div>
    @foreach (Car car in Model)
    {
        <div class="car-card">
            <h2>@car.Make  @car.Model</h2>
            <p>Price per day : @car.PricePerDay euro</p>
            <p>@(car.IsAvailable)? "Dostupan": "Nije dostupan"</p>
            <a href ="@Url.Action("Details","Car", new {id = car.CarId})">Vidi vise detalja o kolima</a>

        </div>
    }
</div>

<div>
    <input type="hidden" name="pageCount" id="pageCount" value="@Context.Request.Query["pageCount"]" />

    <a href="@Url.Action("Index","Car", new { pageCount =Context.Request.Query["page"] +1}) ">Next</a>

    <input type="hidden" name="pageSize" id="pageSize" value="@Context.Request.Query["pageSize"]" />

</div>


<style>
    .car-card {
        border: 1px solid #ddd;
        padding:15px;
        margin:10px 0;
        background-color: #f9f9f9;
    }
</style>